---
import PlusIcon from '../../icons/Plus.astro'
import ResizeIcon from '../../icons/Resize.astro'
import LibraryIcon from '../../icons/Library.astro'
---

<nav class="flex flex-col flex-1 gap-2">
    <div class="flex justify-between">
        <div class="flex gap-2 items-center">
            <LibraryIcon />
            <p class="text-white font-bold">Tu Biblioteca</p>
        </div>
        <div class="flex gap-4">
            <PlusIcon />
            <ResizeIcon />
        </div>
    </div>
</nav>