---
import SaveLibrary from "@/icons/SaveLibrary.astro";
import DownloadAlbum from "@/icons/DownloadAlbum.astro";
import MoreOptionsAlbum from "@/icons/MoreOptionsAlbum.astro";
import TooltipItem from "../common/TooltipItem";
import RecentIcon from "@/icons/Recent.astro";
import StateButtonAlbum from "./StateButtonAlbum";

interface Props {
    cover: string;
    albumId: string | number;
}

const { cover, albumId } = Astro.props;
---

<section class="flex items-center justify-between py-10">
    <div class="flex items-center gap-6">
        <StateButtonAlbum client:load albumId={albumId} />
    <TooltipItem client:load text="Despl치zate por las canciones de este 치lbum">
        <figure class="cursor-pointer size-12 rounded-lg">
            <img class="border w-full border-zinc-400 rounded-lg p-[.2rem]" src={cover} alt="">
        </figure>
    </TooltipItem>
    <TooltipItem client:load text="Guardar en biblioteca">
        <figure class="cursor-pointer size-8">
            <SaveLibrary />
        </figure>
    </TooltipItem>
    <TooltipItem client:load text="Descargar 치lbum">
        <figure class="cursor-pointer size-8">
            <DownloadAlbum />
        </figure>
    </TooltipItem>
    <TooltipItem client:load text="M치s opciones">
        <figure class="cursor-pointer size-8">
            <MoreOptionsAlbum />
        </figure>
    </TooltipItem>
    </div>
    <div class="flex items-center gap-2 group transition-colors cursor-pointer">
        <p class="text-zinc-400 text-[.8rem] hover:text-white">Lista</p>
        <figure class="cursor-pointer size-4">
            <RecentIcon />
        </figure>
    </div>
</section>